/* Place your CSS styles in this file */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
  //background-image: url("https://media1.tenor.com/m/FLfJEQ0Q8wQAAAAd/rigby-freaky.gif");
  //background-attachment: fixed;
  background-size: cover;
  background: rgb(36, 36, 36);
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background:transparent;
}

h1 {
    color:white;
    text-align: center;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgb(35, 35, 35);
    background: rgb(50, 50, 50);
}
button {
    color: white;
    background: linear-gradient(to right,#252525, #1d1d1d);
    border-radius: 15px;
    height: 50px;
    width: 200px;
    font-size: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
     box-shadow: 0px 0px 10px 6px rgba(66, 66, 66, 0.514);
     border: 0px solid rgb(87, 87, 87);
}
button:hover {
    border-radius: 15px;
    font-size: 25px;
    transform: scale(1.05);
}
input {
    color: white;
    background: linear-gradient(to right,#252525, #1d1d1d);
    border-radius: 15px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    border: 0px solid rgb(87, 87, 87);
}
input[type="range"] {
    border: 0px solid rgba(255, 255, 255, 0);
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    width: 175px; /* Full width */
    height: 15px; /* Height of the track */
    background: linear-gradient(to right,#3d46f3, #a053ed);
    border-radius: 5px; /* Rounded corners for the track */
}

/* Style for the thumb (the draggable part) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    appearance: none; /* Remove default styling in other browsers */
    width: 35px; /* Width of the thumb */
    height: 35px; /* Height of the thumb */
    background: #ff00bf9e; /* Color of the thumb */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer; /* Pointer cursor on hover */
}

select {
    color: white;
    background: linear-gradient(to right,#252525, #1d1d1d);
    border-radius: 15px;
    height: 50px;
    width: 250px;
    font-size: 25px;
    border: 0px solid rgb(87, 87, 87);
}
option{
color: rgb(0, 0, 0);
}

label{
    border-radius: 12px;
    font-size: 20pxx;
    height: 23px;
    width: 250px;
    padding: 10px;
    font-family: "Source Sans Pro", sans-serif;
    border: 0px solid rgb(87, 87, 87);
}
.lbl
{
    background: linear-gradient(to right,#252525, #1d1d1d);
}
#info {
    color: black;
    background-color: white;
    border-radius: 15px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    padding: 10px;
    font-family: "Source Sans Pro", sans-serif;
}
#jsonMain {
    color: black;
    background-color: white;
    border-radius: 15px;
    height: 300px;
    width: 900px;
    font-size: 25px;
    padding: 10px;
    font-family: "Source Sans Pro", sans-serif;
}
.itemCl {
    display: block; /* Ensures each label is on a new line */
    margin-bottom: 15px; /* Increased space between labels */
    cursor: pointer; /* Changes cursor to pointer for better UX */
    height: auto; /* Allows height to adjust based on content */
    padding: 10px; /* Adds padding for better spacing */
    border: 0px solid rgb(40, 40, 40);
    border-radius: 17px; /* Softer corners */
     box-shadow: 0px 0px 10px 6px rgba(66, 66, 66, 0.514);
    font-size: 24px;
}
.toggle {
    background-color:pink;
}
.slide {
    color:white;
    background: linear-gradient(to right,#252525, #1d1d1d);
}
.bg {
  background-color: rgba(96, 96, 96, 0.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.15); 
  border-radius: 6px;
  padding: 16px;
  margin: 12px;
  justify-content: center;
  align-items: center;
}
